<!-- <svg class="token-ring" width="24" height="24" viewBox="0 0 48 48" fill="none">
    <a href="https://tokenring.monoxane.io/#crutonjohn" target="_blank" rel="noopener">
      <img src="https://tokenring.monoxane.io/icon.dark.svg" alt="The Token Ring webring"/>
    </a>
</svg> -->

<a href="https://tokenring.monoxane.io/#crutonjohn" target="_blank" rel="noopener">
  <svg class="token-ring" width="33" height="33" viewBox="0 0 40 40" fill="none">
    <image href="https://tokenring.monoxane.io/icon.dark.colour.svg" width="40" height="40" alt="The Token Ring webring"/>
  </svg>
</a>

